@using WoDWebBuilder.Models
@model IEnumerable<Character>
@{
    ViewBag.Title = "Character";
}
<div class="container">
    <h2>Characters</h2>
        @foreach (Character charrie in Model)
        {
            <a href="~/Views/Character/Details.cshtml">
                <div class="col-md-3">@charrie.Name </div>
                <div class="col-md-3">@charrie.Concept</div>
            </a>
            <a href="~/Views/Character/Edit.cshtml">(edit)</a>
        }
</div>

