@using WoDWebBuilder.Models
@model IEnumerable<Character>
@{
    ViewBag.Title = "Character";
}
<div class="container">
    <h2>Characters</h2>
    <table>
        @foreach (Character charrie in Model)
        {
            <tr>
                
                    <td><a href="~/Character/Details/@charrie.ID">@charrie.Name</a></td>
                    <td><a href="~/Character/Details/@charrie.ID">@charrie.Concept</a></td>
                    <td><a href="~/Character/Edit/@charrie.ID">(Delete)</a></td>
            </tr>
        }
    </table>
</div>
<form action="~/Character/Create">
    <input type="submit" value="New Character" />
</form>

