@using WoDWebBuilder.Models
@model IEnumerable<Character>
@{
    ViewBag.Title = "Character";
}
<div class="container">
    <h2>Characters</h2>
        @foreach (Character charrie in Model)
        {
            <a href="~/Character/Details/@charrie.ID">
                <div class="col-md-3">@charrie.Name </div>
                <div class="col-md-3">@charrie.Concept</div>
            </a>
            <a href="~/Character/Edit/@charrie.ID">(edit)</a>
        }
</div>
<form action="~/Character/Create">
    <input type="submit" value="New Character" />
</form>

