@model WoDWebBuilder.Models.Die
@{
    ViewBag.Title = "Index";
}

<h2>Dice</h2>

    
@using (Html.BeginForm("Roll", "Die", FormMethod.Post))
{
    <ul>
        @foreach (int i in Model.Rolls)  //dis breaks :(
        {
            <li>@i</li>
        }
    </ul>
    @Html.TextBox("i")
    
    <input type="submit" value="Roll" />
}
